@CHARSET "ISO-8859-1";
body {
	background-color: #F0F0F0;
	background-image: url("../images/lightblue.jpg");
	
}

h1 {
	color: black;
	text-align: center;
}

p {
	font-family: "Times New Roman";
	font-size: 20px;
}

.blocktext {
	margin-left: auto;
	margin-right: auto;
	width: 6em
}


#nav {
    line-height:30px;
    background-color:transparent;
    height:150px;
    width:200px;
    float:left;
    padding:5px;
}
#section {
    width:900px;
    float:left;
    padding:10px;
}


